{% extends 'recipes/base.html' %} {% block title %}Add/Edit Recipe{% endblock %} {% block content %}
<h2>{% if object %}Edit{% else %}Add{% endif %} Recipe</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}

  <h3>Directions</h3>
  <div id="direction-forms">
    {{ direction_formset.management_form }}
    <ul id="sortable-directions">
      {% for form in direction_formset %}
      <li class="direction-item" data-step="{{ forloop.counter }}">
        <div class="direction-form">
          <span class="step-label">Step {{ forloop.counter }}</span>
          {{ form.description }}
          <input type="hidden" name="directions-{{ forloop.counter0 }}-step_number" value="{{ forloop.counter }}" />
          <button type="button" class="remove-direction-button">Remove</button>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <button type="button" id="add-direction-button">Add Step</button>

  <h3>Ingredients</h3>
  <div id="ingredient-forms">
    {{ ingredient_formset.management_form }}
    <ul>
      {% for form in ingredient_formset %}
      <li>
        <div>
          {{ form.quantity.label_tag }} {{ form.quantity }} {{ form.measurement.label_tag }} {{ form.measurement }} {{ form.chef_notes.label_tag }} {{ form.chef_notes }}
          <button type="button" class="remove-ingredient-button">Remove</button>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <button type="button" id="add-ingredient-button">Add Ingredient</button>

  <button type="submit">Save Recipe</button>
</form>
{% endblock %}
