{% extends 'recipes/base.html' %} {% block title %}{{ recipe.title }}

<!-- Comment for spacing -->

{% endblock%} {% block content %}
<h2>{{ recipe.title }}</h2>
<p><strong>Created By:</strong> {{ recipe.user.username }}</p>
<p><strong>Description:</strong> {{ recipe.description }}</p>
<p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
<p><strong>Instructions:</strong> {{ recipe.instructions }}</p>
<p><strong>Category:</strong> {{ recipe.category.name|default:"No Category" }}</p>
<p>
  <strong>Tags:</strong>
  {% for tag in recipe.tags.all %} {{ tag.name }}{% if not forloop.last %}, {% endif %} {% empty %} None {% endfor %}
</p>

{% if recipe.user == request.user or user.is_staff %}
<a href="{% url 'recipe_update' recipe.pk %}">Edit</a>
<a href="{% url 'recipe_delete' recipe.pk %}">Delete</a>
{% endif %} {% endblock %}
