{% extends 'recipes/base.html' %} {% block title %}{{ recipe.title }}{% endblock %} {% block content %}
<h2>{{ recipe.title }}</h2>
<p><strong>Description:</strong> {{ recipe.description }}</p>
<p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>

<h3>Directions:</h3>
<ol>
  {% for direction in recipe.directions.all %}
  <li>{{ direction.description }}</li>
  {% endfor %}
</ol>

{% if recipe.user == request.user or user.is_staff %}
<a href="{% url 'recipe_update' recipe.pk %}">Edit</a>
<a href="{% url 'recipe_delete' recipe.pk %}">Delete</a>
{% endif %} {% endblock %}
