{% extends 'base.html' %} {% block title %}{{ object|default:"Add"}} Ingredient{% endblock %} {% block content %}
<h1>{% if object %}Edit{% else %}Add{% endif %} Ingredient</h1>
<form method="post">
  {% csrf_token %}
  <label for="id_name">Ingredient Name:</label>
  {{ form.name }}

  <label for="id_quantity">Quantity:</label>
  {{ form.quantity }}

  <label for="id_measurement">Measurement:</label>
  {{ form.measurement }}

  <label for="id_notes">Notes:</label>
  {{ form.notes }}

  <button type="submit" class="btn">Save</button>
</form>

<a href="{% url 'recipe_detail' recipe.pk %}">Back to Recipe</a>
{% endblock %}
